<div class="app-modal-container">
    <form nz-form [formGroup]="updatePwdForm">
        <nz-form-item>
            <nz-form-control nzErrorTip="新密码格式不正确（格式：6-15位新密码！）！">
                <nz-input-group [nzPrefix]="prefixLock">
                    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                    <input type="password" nz-input formControlName="password" placeholder="请输入新密码...">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="确认密码格式不正确（格式：与新密码一致）！">
                <nz-input-group [nzPrefix]="prefixLock">
                    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                    <input type="password" nz-input formControlName="confPassword" placeholder="确认密码...">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
</div>