<div class="app-main-default-container">
    <div appPageTool [btnsTpl]="btnsTpl">
        <ng-template #btnsTpl>
            <app-business-tool-btn [buttonList]="buttonList" (btnClick)="onBtnClick($event)">
            </app-business-tool-btn>
        </ng-template>
    </div>
    <nz-form-item>
        <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div class="app-dept-structure-search app-margin-top10">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input placeholder="输入部门名称搜索部门..." [(ngModel)]="param.deptName" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon
                            nzType="search"></i></button>
                </ng-template>
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="app-margin-top20">
        <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <app-structure-diagram #deptStructure [data]="list" [selectionMode]="selectionMode"
                (nodeSingleSelected)="deptSelected($event)"></app-structure-diagram>
        </nz-form-control>
    </nz-form-item>
</div>