<ul class="app-treeview-menu" [ngClass]="menuCls" [hidden]="!data[nodeConfig.menuState]" *ngIf="!isLeaf(data)">
  <li *ngFor="let item of data[nodeConfig.menuChildren]">
    <a (click)="itemClicked(item);" [ngStyle]="{'padding-left': (level * 15) +'px' }">
      <div>
        <i nz-icon [nzType]="item[nodeConfig.menuIcon]" class="app-node-icon"></i>
        <span>{{item[nodeConfig.menuLabel]}}</span>
      </div>
      <div class="app-node">
        <i nz-icon nzType="down" *ngIf="!isLeaf(item) && (item[nodeConfig.menuState] | treeMenuPipe)"></i>
        <i nz-icon nzType="left" *ngIf="!isLeaf(item) && !(item[nodeConfig.menuState] | treeMenuPipe)"></i>
      </div>
    </a>
    <app-tree-node [data]="item" [nodeConfig]="nodeConfig" [menuCls]="menuCls" [level]="(level+1)"></app-tree-node>
  </li>
</ul>