<div class="app-main-default-np-container">
    <div appPageTool></div>
    <div nz-row>
        <div nz-col nzSpan="7" class="app-menu-tree-container" appScrollbar appContainerCss
            [defaultCls]="'app-layout-content-np-container'" [rendererCls]="'app-desk-layout-content-np-container'"
            [matchRouters]="matchRouters">

            <div class="app-menu-tree-title">
                <nz-form-item>
                    <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="7">
                        <app-line-title title="菜单结构"></app-line-title>
                    </nz-form-control>
                    <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="17">
                        <app-business-tool-btn [buttonList]="buttonList" [layoutMark]="layoutMark.leftToolBtn"
                            [btnSize]="'small'" (btnClick)="onBtnClick($event)">
                        </app-business-tool-btn>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <nz-form-item>
                <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <nz-input-group [nzSuffix]="suffixIcon">
                        <input type="text" nz-input placeholder="输入菜单名称..." [(ngModel)]="searchValue" />
                    </nz-input-group>
                    <ng-template #suffixIcon>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                    <nz-tree #menuTree class="app-margin-top10" [nzData]="list" nzBlockNode="true" nzShowIcon="true"
                        nzCheckable="true" nzCheckStrictly="true" [nzSearchValue]="searchValue"
                        (nzClick)="menuView($event)">
                    </nz-tree>
                </nz-form-control>
            </nz-form-item>

        </div>
        <div nz-col nzSpan="17" class="app-menu-info-container" appScrollbar appContainerCss
            [defaultCls]="'app-layout-content-np-container'" [rendererCls]="'app-desk-layout-content-np-container'"
            [matchRouters]="matchRouters">
            <nz-form-item>
                <nz-form-control nzSm="24" nzMd="24" nzLg="12" nzXl="12" [style]="{'margin-top':'-10px'}">
                    <app-line-title title="菜单信息"></app-line-title>
                </nz-form-control>
                <nz-form-control nzSm="24" nzMd="24" nzLg="12" nzXl="12" [style]="{'margin-top':'-10px'}">
                    <ng-container *ngIf="menuData">
                        <app-business-tool-btn [buttonList]="buttonList" [layoutMark]="layoutMark.rightToolBtn"
                            [btnSize]="'small'" (btnClick)="onBtnClick($event)">
                        </app-business-tool-btn>
                    </ng-container>
                </nz-form-control>
            </nz-form-item>

            <ng-container *ngIf="menuData">
                <nz-form-item>
                    <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">编号</nz-form-label>
                    <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
                        {{menuData?.menuCode || '无'}}
                    </nz-form-control>

                    <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">名称</nz-form-label>
                    <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
                        {{menuData?.menuName || '无'}}
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">排序</nz-form-label>
                    <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
                        {{menuData?.sortNum || '无'}}
                    </nz-form-control>

                    <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">图标</nz-form-label>
                    <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
                        <i nz-icon [nzType]="menuData?.iconCls" nzTheme="outline"
                            *ngIf="menuData &&menuData.iconCls"></i>
                        {{menuData?.iconCls || '无'}}
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">级别</nz-form-label>
                    <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
                        {{menuData?.menuLevel || '无'}}
                    </nz-form-control>
                    <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">访问地址</nz-form-label>
                    <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
                        {{menuData?.accessUrl || '无'}}
                    </nz-form-control>
                </nz-form-item>
            </ng-container>

            <nz-form-item *ngIf="!menuData">
                <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <div class="app-menu-empty">
                        <app-custom-empty [content]="'请点击查看菜单信息！'"></app-custom-empty>
                    </div>
                </nz-form-control>
            </nz-form-item>

        </div>
    </div>
</div>