<div class="app-left-toolbar-container">
    <div *ngIf="sysLogo" [ngClass]="sysLogo?'app-left-toolbar-logo-container':''">
        <img [src]="sysLogo?.img" [nzTooltipTitle]="sysLogo?.title" nzTooltipPlacement="right" nz-tooltip>
    </div>

    <div class="app-left-toolbar-nav" [ngClass]="sysLogo?'app-left-toolbar-nav-default':'app-left-toolbar-nav-full'">
        <div>
            <div class="app-left-toolbar-nav-item" [nzTooltipTitle]="'菜单'" [nzTooltipPlacement]="'right'" nz-tooltip
                (click)="menuPopoverShow=true">
                <i nz-icon nzType="menu" nzTheme="outline"></i>
            </div>
            <ng-container *ngFor="let btn of leftBtnList">
                <ng-container *ngIf="btn.showTooltip">
                    <div class="app-left-toolbar-nav-item" (click)="buttonHandler(btn.act)" [nzTooltipTitle]="btn.title"
                        [nzTooltipPlacement]="btn.placement" nz-tooltip>
                        <i nz-icon [nzType]="btn.icon" theme="outline"></i>
                    </div>
                </ng-container>
                <ng-container *ngIf="!btn.showTooltip">
                    <div class="app-left-toolbar-nav-item" (click)="buttonHandler(btn.act)">
                        <i nz-icon [nzType]="btn.icon" theme="outline"></i>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div>
            <ng-container *ngFor="let btn of rightBtnList">
                <ng-container *ngIf="btn.showTooltip">
                    <div class="app-left-toolbar-nav-item" (click)="buttonHandler(btn.act)" [nzTooltipTitle]="btn.title"
                        [nzTooltipPlacement]="btn.placement" nz-tooltip>
                        <i nz-icon [nzType]="btn.icon" theme="outline"></i>
                    </div>
                </ng-container>
                <ng-container *ngIf="!btn.showTooltip">
                    <div class="app-left-toolbar-nav-item" (click)="buttonHandler(btn.act)">
                        <i nz-icon [nzType]="btn.icon" theme="outline"></i>
                    </div>
                </ng-container>
            </ng-container>

            <div class="app-left-toolbar-nav-item" (click)="toHome()" [nzTooltipTitle]="'首页'"
                [nzTooltipPlacement]="'right'" nz-tooltip>
                <i nz-icon nzType="home" theme="outline"></i>
            </div>

            <div class="app-left-toolbar-nav-item app-left-item-avatar" (click)="userMenuPopoverShow=true">
                <div class="app-nav-item-avatar" [nzTooltipTitle]="userData.realName" [nzTooltipPlacement]="'right'"
                    nz-tooltip>
                    <img [src]="originalUserAvatar" appErrorSrc [errSrc]="'assets/platform/img/default-avatar.png'">
                </div>
            </div>
        </div>
    </div>

    <div class="app-nav-user-menu-popover-backdrop" [hidden]="!userMenuPopoverShow" (click)="userMenuPopoverShow=false">
        <div class="app-nav-user-menu-popover">
            <ul nz-menu class="app-nav-user-menu" nzSelectable="false">
                <li nz-menu-item (click)="userAvatarCropperVisible=true">
                    <a><i nz-icon nzType="cloud-upload" theme="outline"></i> 头像上传</a>
                </li>
                <li nz-menu-item (click)="updatePwd()">
                    <a><i nz-icon nzType="key" theme="outline"></i> 修改密码</a>
                </li>
                <li nz-menu-item *ngFor="let menuItem of dropdownMenuItemList"
                    (click)="dropdownItemHandler(menuItem.act)">
                    <a> <i nz-icon [nzType]="menuItem.icon" theme="outline"></i> {{menuItem.label}}</a>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item (click)="exitSys()">
                    <a><i nz-icon nzType="logout" theme="outline"></i> 退出系统</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="app-menu-popover-backdrop" [hidden]="!menuPopoverShow" (click)="menuPopoverShow=false">
        <div class="app-menu-popover" (click)="stopPropagation($event)">
            <app-tree-menu [data]="menuData" menuCls="app-left-toolbar-tree-menu" [hidden]="false"></app-tree-menu>
        </div>
    </div>

    <app-img-cropper-modal #userAvatarImgCropper [(visible)]="userAvatarCropperVisible"
        (imgUpload)="userAvatarUpload($event)" [title]="'头像上传'" [previewTitle]="'头像预览'" [originalImgLabel]="'原头像'"
        [originalImgSrc]="originalUserAvatar"></app-img-cropper-modal>

</div>