<div>
    <nz-form-item>
        <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <app-line-title title="基本信息"></app-line-title>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">编号</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicTypeData?.dicTypeCode || '无'}}
        </nz-form-control>

        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">名称</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicTypeData?.dicTypeName || '无'}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">字典组</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{(resultData?.dataDicTypeData?.dicCategory|dataDicPipe:[resultData?.DIC_CATEGORY_TYPE,'dicItemValue'])?.dicItemName}}
        </nz-form-control>

        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">图标</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            <i nz-icon [nzType]="resultData?.dataDicTypeData?.iconCls" nzTheme="outline"
                *ngIf="resultData && resultData.dataDicTypeData &&  resultData.dataDicTypeData.iconCls"></i>
            {{resultData.dataDicTypeData?.iconCls || '无'}}
        </nz-form-control>
    </nz-form-item>


</div>