<div>
  <div appPageTool [btnsTpl]="btnsTpl">
    <ng-template #btnsTpl>
      <app-business-tool-btn [buttonList]="buttonList" (btnClick)="onBtnClick($event)">
      </app-business-tool-btn>
    </ng-template>
  </div>


  <form nz-form [formGroup]="saveForm">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
        <app-line-title title="基本信息"></app-line-title>
      </nz-form-label>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>编号</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="编号格式不正确（格式：3-15位字符）!">
        <input type="text" nz-input formControlName="userCode" placeholder="请输入..." />
      </nz-form-control>

      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10"
        nzErrorTip="用户名格式不正确（格式：5-20个字符，字母开头、可使用字母、下划线、数字!">
        <input type="text" nz-input formControlName="userName" placeholder="请输入..." />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>姓名</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="姓名格式不正确（格式：2-15个字符）!">
        <input type="text" nz-input formControlName="realName" placeholder="请输入..." />
      </nz-form-control>

      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>性别</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="请选择性别！">
        <nz-select formControlName="sex" nzAllowClear nzPlaceHolder="请选择...">
          <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName" *ngFor="let item  of sexOptionList">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>身份证</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="身份证格式不正确!">
        <input type="text" nz-input formControlName="idCard" placeholder="请输入..." />
      </nz-form-control>

      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>邮箱</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="邮箱格式不正确!">
        <input type="text" nz-input formControlName="email" placeholder="请输入..." />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>电话</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="电话格式不正确（请软件固话或手机）!">
        <input type="text" nz-input formControlName="telephone" placeholder="请输入..." />
      </nz-form-control>

      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>邮箱开关</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="请选择邮箱开关！">
        <nz-select formControlName="emailSwitch" nzAllowClear nzPlaceHolder="请选择...">
          <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName"
            *ngFor="let item  of emailSwitchOptionList"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>短信开关</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="请选择短信开关!">
        <nz-select formControlName="smsSwitch" nzAllowClear nzPlaceHolder="请选择...">
          <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName"
            *ngFor="let item  of smsSwitchOptionList"></nz-option>
        </nz-select>
      </nz-form-control>

      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>状态</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="请选择状态！">
        <nz-select formControlName="status" nzAllowClear nzPlaceHolder="请选择...">
          <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName" *ngFor="let item  of statusOptionList">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2">描述</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="19" [nzLg]="21" [nzXl]="22" nzErrorTip="描述格式不正确（格式：0-128个字符）!">
        <textarea nz-input rows="3" formControlName="userDescribe" placeholder="请输入..."></textarea>
      </nz-form-control>
    </nz-form-item>

  </form>

</div>