<div class="app-right-main-container">
    <div class="app-right-main-content-tool" [hidden]="!showTool">
        <div class="app-right-main-content-tool-title">
            <i nz-icon nzType="platform/icon:navbar" nzTheme="outline"></i>{{toolTitle}}
        </div>
        <div class="app-right-main-content-tool-btns">
            <ng-container *appStringTemplateOutlet="toolBtnTpl"></ng-container>
        </div>
    </div>
    <div [ngClass]="{'app-right-main-content-router':!showTool ,'app-right-main-content-router-default':showTool}">
        <div appScrollbar [options]="{overflowBehavior:{x:'scroll',y:'scroll'}}" (viewInit)="scrollerViewInit($event)"
            [ngClass]="{'app-right-main-content-router-inner':!showTool ,'app-right-main-content-router-default-inner':showTool}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>