<div class="app-business-row-btn-container">
    <ng-container *ngFor="let btn of btnList;let i = index">
        
        <nz-divider nzType="vertical" *ngIf="i!=0"></nz-divider>
        <a (click)="btnHandler(btn.functionName)" *ngIf="btn.layoutMark===layoutMark">
            <i nz-icon [nzType]="btn.iconCls" theme="outline"></i>
            {{btn.buttonName}}
        </a>

    </ng-container>
    <ng-container *ngIf="moreBtnList && moreBtnList.length">

        <nz-divider nzType="vertical"></nz-divider>
        <a nz-dropdown [nzDropdownMenu]="moreMenu"><i nz-icon nzType="platform/icon:more"></i> 更多</a>
        <nz-dropdown-menu #moreMenu="nzDropdownMenu">
            <ul nz-menu nzSelectable="false">
                <li nz-menu-item *ngFor="let btn of moreBtnList;let i = index" (click)="btnHandler(btn.functionName)"
                    class="app-more-btn-item">
                    <i nz-icon [nzType]="btn.iconCls" theme="outline"></i>
                    {{btn.buttonName}}
                </li>
            </ul>
        </nz-dropdown-menu>

    </ng-container>
</div>