<div>
    <div appPageTool [btnsTpl]="btnsTpl">
        <ng-template #btnsTpl>
            <app-business-tool-btn [buttonList]="buttonList" (btnClick)="onBtnClick($event)">
            </app-business-tool-btn>
        </ng-template>
    </div>

    <form nz-form [formGroup]="saveForm">
        <nz-form-item>
            <nz-form-label [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                <app-line-title title="基本信息"></app-line-title>
            </nz-form-label>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>数据权限名称</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="数据权限名称格式不正确（格式：1-64个字符）！">
                <input type="text" nz-input formControlName="dataPermissionsName" placeholder="请输入..." />
            </nz-form-control>

            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>数据权限分组</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="请选择数据权限分组！">
                <nz-select formControlName="dataPermissionsCategory" nzShowSearch nzAllowClear nzPlaceHolder="请选择...">
                    <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName"
                        *ngFor="let item  of dataPermitCategoryOptionList">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>基本处理器</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="请选择基本处理器！">
                <nz-select formControlName="primaryProcessor" nzShowSearch nzAllowClear nzPlaceHolder="请选择...">
                    <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName"
                        *ngFor="let item  of dataPermitProcessorOptionList">
                    </nz-option>
                </nz-select>
            </nz-form-control>

            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3">辅助处理器</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="请选择辅助处理器！">
                <nz-select formControlName="secondaryProcessor" nzShowSearch nzAllowClear nzPlaceHolder="请选择...">
                    <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName"
                        *ngFor="let item  of dataPermitProcessorOptionList">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>处理器优先级</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="处理器优先级格式不正确（格式：1-2个数字）!">
                <nz-input-number formControlName="processorPriority" nzPlaceHolder="请输入..." [nzMin]="1" [nzMax]="99"
                    [nzStep]="1"></nz-input-number>
            </nz-form-control>

            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>匹配列名</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="匹配列名格式不正确（格式：1-128个字符）！">
                <input type="text" nz-input formControlName="matchColumn" placeholder="请输入..." />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>匹配地址</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="地址格式不正确（格式：1-300个字符）！">
                <nz-input-group nzSearch [nzAddOnAfter]="accessUrlSuffixIconBtn">
                    <input type="text" nz-input formControlName="accessUrl" placeholder="请输入..." />
                </nz-input-group>
                <ng-template #accessUrlSuffixIconBtn>
                    <button nz-button nzType="default" (click)="openAccessUrlModal()" nzSearch nz-tooltip
                        nzTooltipTitle="从访问地址中导入已配置的地址"><i nz-icon nzType="plus"></i></button>
                </ng-template>
            </nz-form-control>

            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>匹配SQL ID</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="SQL语句ID格式不正确（格式：1-255个字符）！">
                <input type="text" nz-input formControlName="sqlId" placeholder="请输入..." />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3">参数名</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="参数名格式不正确（格式：0-128个字符）！">
                <input type="text" nz-input formControlName="paramKey" placeholder="请输入..." />
            </nz-form-control>

            <nz-form-label [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="3" nzRequired>状态</nz-form-label>
            <nz-form-control [nzSm]="24" [nzMd]="6" [nzLg]="8" [nzXl]="9" nzErrorTip="请选择状态！">
                <nz-select formControlName="status" nzAllowClear nzPlaceHolder="请选择...">
                    <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName"
                        *ngFor="let item  of statusOptionList">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

    </form>
</div>