<nz-card class="app-cron-container" [ngStyle]="style">
    <nz-tabset>
        <nz-tab nzTitle="秒" *ngIf="showSecond">
            <app-cron-second [(ngModel)]="second" [inputSize]="inputSize" [disabled]="disabled"
                (ngModelChange)="change($event)"></app-cron-second>
        </nz-tab>
        <nz-tab nzTitle="分" *ngIf="showMinute">
            <app-cron-minute [(ngModel)]="minute" [inputSize]="inputSize" [disabled]="disabled"
                (ngModelChange)="change($event)"></app-cron-minute>
        </nz-tab>
        <nz-tab nzTitle="时" *ngIf="showHour">
            <app-cron-hour [(ngModel)]="hour" [inputSize]="inputSize" [disabled]="disabled"
                (ngModelChange)="change($event)"></app-cron-hour>
        </nz-tab>
        <nz-tab nzTitle="日" *ngIf="showDay">
            <app-cron-day [(ngModel)]="day" [inputSize]="inputSize" [week]="week" (ngModelChange)="change($event)"
                [disabled]="disabled"></app-cron-day>
        </nz-tab>
        <nz-tab nzTitle="月" *ngIf="showMonth">
            <app-cron-month [(ngModel)]="month" [inputSize]="inputSize" (ngModelChange)="change($event)"
                [disabled]="disabled"></app-cron-month>
        </nz-tab>
        <nz-tab nzTitle="周" *ngIf="showWeek">
            <app-cron-week [(ngModel)]="week" [inputSize]="inputSize" [day]="day" (ngModelChange)="change($event)"
                [disabled]="disabled"></app-cron-week>
        </nz-tab>
        <nz-tab nzTitle="年" *ngIf="useYear && showYear">
            <app-cron-year [(ngModel)]="year" [minYear]="minYear" [maxYear]="maxYear" [inputSize]="inputSize"
                (ngModelChange)="change($event)" [disabled]="disabled"></app-cron-year>
        </nz-tab>
    </nz-tabset>
</nz-card>