<nz-card [nzBordered]="false" [nzTitle]="noticeTitleTpl" [nzExtra]="noticeExtraTpl" class="app-notice-card">
  <ng-template #noticeTitleTpl>
    <app-line-title title="公告信息"></app-line-title>
  </ng-template>
  <ng-template #noticeExtraTpl>
    <button nz-button [nzSize]="'small'" nzType="primary" nzGhost (click)="toNoticeList()">更多</button>
  </ng-template>


  <nz-alert nzType="warning" [nzMessage]="'共为您展示 '+noticeList.length+' 条公告信息，请及时查看！'" nzShowIcon
    [hidden]="!(noticeList && noticeList.length)">
  </nz-alert>


  <nz-table nzTemplateMode class="app-notice-table" [hidden]="!(noticeList && noticeList.length)">
    <tbody>
      <tr *ngFor="let notice of noticeList;let i = index" (click)="toNoticeInfo(notice)">
        <td class="app-notice-index">{{i+1}}</td>
        <td>
          <nz-tag [nzColor]="'blue'">{{notice.createUser}}</nz-tag>
        </td>
        <td>{{notice.noticeTitle.length>35 ? (notice.noticeTitle | slice:0:35)+'...' : notice.noticeTitle }}</td>
        <td class="app-notice-date">{{notice.cutoffDate}}</td>
      </tr>
    </tbody>
  </nz-table>

  <div class="app-notice-empty-data" [hidden]="(noticeList && noticeList.length)">
    <app-custom-empty></app-custom-empty>
  </div>

</nz-card>