<div class="app-layout-sider-container"
  [ngClass]="{'app-layout-sider-hide':!showSider ,'app-layout-sider-show':showSider}">
  <div class="app-layout-sider-inner">
    <app-user-profile [userData]="userData" [userInfoRouter]="userInfoRouter" [hidden]="!showSider"></app-user-profile>
    <app-tree-menu [data]="menuData" [hidden]="!showSider"></app-tree-menu>
    <div class="app-switch-sider-btn"
      [ngClass]="{'app-switch-sider-btn-stress':!showSider ,'app-switch-sider-btn-default':showSider}"
      (click)="switchSider()"><i nz-icon [nzType]="showSider?'double-left':'double-right'" nzTheme="outline"></i>
    </div>
  </div>
</div>