<div>
  <div appPageTool [btnsTpl]="btnsTpl">
    <ng-template #btnsTpl>
      <app-business-tool-btn [buttonList]="buttonList" (btnClick)="onBtnClick($event)">
      </app-business-tool-btn>
    </ng-template>
  </div>


  <form nz-form [formGroup]="saveForm">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
        <app-line-title title="基本信息"></app-line-title>
      </nz-form-label>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>标题</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="19" [nzLg]="21" [nzXl]="22" nzErrorTip="标题格式不正确（格式：1-50个字符）!">
        <input type="text" nz-input formControlName="noticeTitle" placeholder="请输入..." />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2">内容</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="19" [nzLg]="21" [nzXl]="22" nzErrorTip="内容格式不正确（格式：1-512个字符）!">
        <textarea nz-input rows="15" formControlName="noticeContent" placeholder="请输入..."></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>截止时间</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="请选择截止时间!">
        <nz-date-picker formControlName="cutoffDate" placeholder="请选择..." [nzFormat]="'yyyy-MM-dd'">
        </nz-date-picker>
      </nz-form-control>

      <nz-form-label [nzSm]="24" [nzMd]="5" [nzLg]="3" [nzXl]="2" nzRequired>状态</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="7" [nzLg]="9" [nzXl]="10" nzErrorTip="请选择状态！">
        <nz-select formControlName="status" nzAllowClear nzPlaceHolder="请选择...">
          <nz-option [nzValue]="item.dicItemValue" [nzLabel]="item.dicItemName"
            *ngFor="let item  of formStatusOptionList">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>



  </form>

</div>