<div>
    <nz-form-item>
        <nz-form-control nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <app-line-title title="基本信息"></app-line-title>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">编号</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.dicItemCode || '无'}}
        </nz-form-control>

        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">名称</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.dicItemName || '无'}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">值</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.dicItemValue || '无'}}
        </nz-form-control>

        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">备用值</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.spareValue || '无'}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">默认值</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.defaultValue || '无'}}
        </nz-form-control>

        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">序号</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.sortNum || '无'}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">上一级</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.dicItemParentName || '无'}}
        </nz-form-control>

        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">图标</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            <i nz-icon [nzType]="resultData?.dataDicItemData?.iconCls" nzTheme="outline"
                *ngIf="resultData && resultData.dataDicItemData &&  resultData.dataDicItemData.iconCls"></i>
            {{resultData.dataDicItemData?.iconCls || '无'}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">描述</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{resultData.dataDicItemData?.dicItemDesc || '无'}}
        </nz-form-control>

        <nz-form-label nzSm="24" nzMd="5" nzLg="3" nzXl="2">状态</nz-form-label>
        <nz-form-control nzSm="24" nzMd="7" nzLg="9" nzXl="10">
            {{(resultData?.dataDicItemData?.status|dataDicPipe:[resultData?.STATUS_TYPE,'dicItemValue'])?.dicItemName}}
        </nz-form-control>
    </nz-form-item>


</div>