<div class="app-cron-base-container">
    <div class="app-base-item">
        当前值：{{defaultValue}}
    </div>
    <div>
        <nz-radio-group [(ngModel)]="type" (ngModelChange)="change($event)">
            <label nz-radio [nzValue]="typeEvery" [nzDisabled]="disabled">
                <div class="app-base-item">
                    每秒
                </div>

            </label>
            <label nz-radio [nzValue]="typeRange" [nzDisabled]="disabled">
                <div class="app-base-item">
                    区间
                    从
                    <nz-input-number class="app-base-input" [(ngModel)]="valueRange.start" [nzMin]="minValue"
                        [nzSize]="inputSize" [nzMax]="maxValue" [nzStep]="1" [nzPrecision]="0"
                        [nzDisabled]="type!=typeRange || disabled" (ngModelChange)="change($event)"></nz-input-number> 秒
                    至
                    <nz-input-number class="app-base-input" [(ngModel)]="valueRange.end" [nzMin]="minValue"
                        [nzMax]="maxValue" [nzSize]="inputSize" [nzStep]="1" [nzPrecision]="0"
                        [nzDisabled]="type!=typeRange || disabled" (ngModelChange)="change($event)">
                    </nz-input-number> 秒
                </div>
            </label>
            <label nz-radio [nzValue]="typeLoop" [nzDisabled]="disabled">
                <div class="app-base-item">
                    循环
                    从
                    <nz-input-number class="app-base-input" [(ngModel)]="valueLoop.start" [nzMin]="minValue"
                        [nzMax]="maxValue" [nzStep]="1" [nzPrecision]="0" [nzDisabled]="type!=typeLoop || disabled"
                        [nzSize]="inputSize" (ngModelChange)="change($event)"></nz-input-number>
                    秒开始，间隔
                    <nz-input-number class="app-base-input" [(ngModel)]="valueLoop.interval" [nzMin]="minValue"
                        [nzMax]="maxValue" [nzStep]="1" [nzPrecision]="0" [nzDisabled]="type!=typeLoop || disabled"
                        [nzSize]="inputSize" (ngModelChange)="change($event)"></nz-input-number>
                    秒
                </div>
            </label>

            <div class="app-base-item">
                <label nz-radio [nzValue]="typeSecify" [nzDisabled]="disabled">指定</label>
                <div class="app-base-val-list">
                    <nz-checkbox-group [(ngModel)]="valueList" (ngModelChange)="change($event)"
                        [nzDisabled]="type!=typeSecify || disabled">
                    </nz-checkbox-group>
                </div>
            </div>
        </nz-radio-group>
    </div>
</div>